body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 25px;
  background-color: rgba(238, 238, 238, 0.919);
  text-align: center;
}

form,
.destinations {
  width: 50%;
  padding: 25px;
}

.main {
  display: flex;
  padding: 25px;
}

.dest-container {
  display: flex;
  flex-direction: column;
}

.btn-container {
  display: flex;
}

.btn {
  width: 50%;
  margin: 0 10px 5px;
}

#delete {
  background-color: orangered;
}
